/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.header {
  font-size:18px;
  font-weight:bold;
}

dl {
  margin-left:12px;
}

body {
  margin:12px;
}

.inline {
  display:inline;
}

.indent {
  margin-left:12px;
}

.large {
  font-size:18px;
}

table {
  border-spacing: 4px;
}

th {
  padding: 5px;
  background-color: #C0C0C0 ;
}

tr {
  padding: 5px;
}

td {
  padding: 5px;
}

.odd-row {
  background-color: white;
}

.even-row {
  background-color: #F0F0F0 ;
}

.styleTable { border: 1px solid black; border-collapse: separate; }
.styleTable TD { border: 1px solid black; font-weight: normal !important; padding: .4em; border-top-width: 0px !important; }
.styleTable TH { border: 1px solid black; text-align: center; padding: .8em .4em; }
.styleTable TD.first, .styleTable TH.first { border: 1px solid black; border-left-width: 0px !important; }

